@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.header {
  width: 100%;
  background-color: #f9f6f1;
  padding-top: 56px;
  padding-bottom: 87px;
  font-family: "Montserrat";
}

.content {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__dropdowns {
  display: flex;
  align-items: center;
}

.header__dropdown {
  margin-right: 35px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.header__dropdown__text {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
}
.header__dropdown__text:hover {
  padding: 5px;
  border-radius: 10px;
  background-color: #d7b399;
}

.header__dropdown__text.active {
  background-color: #d7b399;
  padding: 5px;
  border-radius: 10px;
}

.fa-caret-right {
  transition: all 0.5s ease-in-out;
}

.header__dropdown__text.active .fas {
  transform: rotate(90deg);
}

.header__dropdown__text.active + .header__dropdown__content {
  position: absolute;
  width: 100%;
  height: auto;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.03em;
  overflow: hidden;
}

.header__dropdown__content {
  position: absolute;
  width: 0;
  height: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.header__dropdown__content ul {
  list-style: none;
  padding-left: 0;
  padding-top: 10px;
  margin: 0;
}
.header__dropdown__content ul li {
  padding: 5px;
  padding-left: 0;
}

.logo-link {
  display: flex;
  align-items: center;
}
.logo-link img {
  margin-right: 20px;
}
.logo-link h1 {
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #212121;
}

.header__menu {
  display: flex;
  align-items: center;
}
.header__menu .header__menu__link {
  margin-right: 35px;
  font-size: 14px;
  line-height: 17px;
  transition: all 0.3s ease-in-out;
}
.header__menu .header__menu__link:last-child {
  margin-right: 0;
}
.header__menu .header__menu__link:hover {
  background-color: #d7b399;
  padding: 5px;
  border-radius: 10px;
}

.header__bag {
  display: flex;
  align-items: center;
}
.header__bag .header__bag__count {
  width: 45px;
  height: 17px;
  background-color: transparent;
  background-image: url(../img/bag-count-bgr.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  color: white;
  margin-left: 15px;
}

.menu-burger {
  display: none;
}

.menu-btn {
  display: none;
}

@media (max-width: 1200px) {
  .header {
    padding-top: 26px;
    padding-bottom: 49px;
  }

  .logo-link img {
    margin-right: 10px;
  }

  .header__dropdown__content {
    position: absolute;
    width: 0;
    height: 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
  }
  .header__dropdown__content ul {
    list-style: none;
    padding-left: 5px;
    padding-top: 0px;
    margin: 0;
  }
  .header__dropdown__content ul li {
    padding-left: 0;
  }
}
@media (max-width: 1200px) and (max-width: 992px) {
  .header__dropdowns {
    display: none;
  }

  .menu-btn {
    display: block;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: relative;
  }
  .menu-btn span, .menu-btn span::before, .menu-btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 1px;
    background-color: #d7b399;
  }
  .menu-btn span::before {
    content: "";
    transform: translateY(-5px);
    margin-top: 0;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn span::after {
    content: "";
    margin-top: 0;
    transform: translateY(5px);
    transition: all 0.5s ease-in-out;
  }

  .menu-btn-active span::before {
    transform: rotate(45deg);
  }

  .menu-btn-active span::after {
    transform: rotate(-45deg);
  }

  .menu-btn-active span {
    height: 0;
  }

  .menu-burger {
    display: none;
    transition: all 0.5s ease-in-out;
    transform: translateX(-100%);
  }

  .menu-burger.menu-burger-active {
    display: flex;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    left: 0;
    top: 135px;
    background-color: #f9f6f1;
    z-index: 99;
    transition: all 0.5s ease-in-out;
    transform: translateX(0%);
    border-radius: 0 0 10px 0;
  }

  .menu__dropdowns {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    transition: all 1s ease-in-out;
    z-index: 99;
  }

  .menu__dropdown {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.03em;
    transition: all 1s ease-in-out;
    padding: 5px;
    z-index: 99;
  }

  .menu__dropdown__content {
    width: 0;
    height: 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
  }
  .menu__dropdown__content ul {
    list-style: none;
    padding-left: 0;
    padding-top: 10px;
    margin: 0;
  }
  .menu__dropdown__content ul li {
    padding: 5px;
    padding-left: 0;
  }

  .menu__dropdown__text {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
  }

  .menu__dropdown__text.active {
    background-color: #d7b399;
    padding: 5px;
    border-radius: 10px;
  }

  .menu__dropdown__text.active .fas {
    transform: rotate(90deg);
  }

  .menu__dropdown__text.active + .menu__dropdown__content {
    width: 100%;
    height: auto;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.03em;
    overflow: hidden;
  }

  .menu__dropdown__content {
    width: 0;
    height: 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
  }
  .menu__dropdown__content ul {
    list-style: none;
    padding-left: 0;
    padding-top: 10px;
    margin: 0;
  }
  .menu__dropdown__content ul li {
    padding: 5px;
    padding-left: 0;
  }
}
@media (max-width: 1200px) and (max-width: 576px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .logo-link {
    margin: 0;
    margin-bottom: 10px;
  }
  .logo-link .logo-title {
    margin: 0;
  }

  .header__menu {
    margin: 0;
    margin-bottom: 5px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .header__menu .header__menu__link {
    margin-right: 0px;
  }

  .header__bag .header__bag__count {
    margin: 0;
    margin-left: 5px;
  }

  .menu-burger.menu-burger-active {
    display: flex;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    left: 0;
    top: 180px;
    background-color: #f9f6f1;
    z-index: 99;
    transition: all 0.5s ease-in-out;
    transform: translateX(0%);
    border-radius: 0 0 10px 0;
  }

  .menu-burger.menu-burger-active {
    display: flex;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    left: 0;
    top: 190px;
  }
}
.sale-banner {
  width: 100%;
  background-color: #f9f6f1;
  padding-top: 46px;
  padding-bottom: 70px;
  z-index: -1;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 100%;
}

.banner--text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-basis: 48%;
}
.banner--text h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.02em;
  color: black;
  margin: 0;
  margin-bottom: 35px;
}
.banner--text h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 67px;
  letter-spacing: 0.04em;
  color: black;
  margin: 0;
  margin-bottom: 55px;
  white-space: nowrap;
}
.banner--text button {
  font-family: "Montserrat";
  padding: 17px 30px;
  border: none;
  outline: none;
  background-color: #d7b399;
  text-transform: uppercase;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
}

.banner--img {
  display: flex;
  justify-content: center;
  align-items: start;
  background-image: url(../img/snickers/1.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;
  flex-basis: 50%;
  max-width: 50%;
  height: 400px;
}

.banner--img--text {
  display: flex;
  flex-direction: column;
}
.banner--img--text span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  text-decoration: line-through;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: black;
  margin: 0;
  margin-bottom: 10px;
}
.banner--img--text h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #d84033;
  margin: 0;
}

.swiper-container {
  padding-top: 40px;
  padding-bottom: 100px;
}

.swiper-pagination-bullet {
  width: 70px;
  height: 7px;
  border-radius: 0;
  background-color: #cecece;
}

.swiper-pagination-bullet-active {
  width: 70px;
  height: 7px;
  border-radius: 0;
  background-color: #d7b399;
}

@media (max-width: 1200px) {
  .banner--text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-basis: 40%;
  }
  .banner--text h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: black;
    margin: 0;
    margin-bottom: 25px;
  }
  .banner--text h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 57px;
    letter-spacing: 0.04em;
    color: black;
    margin: 0;
    margin-bottom: 35px;
  }
  .banner--text button {
    font-family: "Montserrat";
    padding: 12px 20px;
    border: none;
    outline: none;
    background-color: #d7b399;
    text-transform: uppercase;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
  }

  .banner--img {
    display: flex;
    justify-content: flex-end;
    align-items: start;
    background-image: url(../img/snickers/1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
    flex-basis: 55%;
    height: 340px;
  }

  .banner--img--text {
    display: flex;
    flex-direction: column;
  }
  .banner--img--text span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    text-decoration: line-through;
    font-size: 20px;
    line-height: 25px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: black;
    margin: 0;
    margin-bottom: 10px;
  }
  .banner--img--text h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #d84033;
    margin: 0;
  }

  .swiper-container {
    padding-bottom: 70px;
  }

  .swiper-pagination-bullet {
    width: 50px;
    height: 7px;
    border-radius: 0;
    background-color: #cecece;
  }

  .swiper-pagination-bullet-active {
    background-color: #d7b399;
  }
}
@media (max-width: 1010px) {
  .banner--text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-basis: 40%;
  }
  .banner--text h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: black;
    margin: 0;
    margin-bottom: 25px;
  }
  .banner--text h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.04em;
    color: black;
    margin: 0;
    margin-bottom: 25px;
  }
  .banner--text button {
    font-family: "Montserrat";
    padding: 12px 20px;
    border: none;
    outline: none;
    background-color: #d7b399;
    text-transform: uppercase;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
  }

  .banner--img {
    display: flex;
    justify-content: flex-end;
    align-items: start;
    background-image: url(../img/snickers/1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
    flex-basis: 59%;
    height: 340px;
  }

  .banner--img--text {
    display: flex;
    flex-direction: column;
  }
  .banner--img--text span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    text-decoration: line-through;
    font-size: 20px;
    line-height: 25px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: black;
    margin: 0;
    margin-bottom: 10px;
  }
  .banner--img--text h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #d84033;
    margin: 0;
  }

  .swiper-container {
    padding-bottom: 70px;
  }

  .swiper-pagination-bullet {
    width: 50px;
    height: 7px;
    border-radius: 0;
    background-color: #cecece;
  }

  .swiper-pagination-bullet-active {
    background-color: #d7b399;
  }
}
@media (max-width: 992px) {
  .banner--text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-basis: 35%;
  }
  .banner--text h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: black;
    margin: 0;
    margin-bottom: 25px;
  }
  .banner--text h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.04em;
    color: black;
    margin: 0;
    margin-bottom: 25px;
  }
  .banner--text button {
    font-family: "Montserrat";
    padding: 12px 20px;
    border: none;
    outline: none;
    background-color: #d7b399;
    text-transform: uppercase;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
  }

  .banner--img {
    display: flex;
    justify-content: flex-end;
    align-items: start;
    background-image: url(../img/snickers/1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    flex-basis: 50%;
    height: 300px;
  }

  .banner--img--text {
    display: flex;
    flex-direction: column;
  }
  .banner--img--text span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    text-decoration: line-through;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: black;
    margin: 0;
    margin-bottom: 10px;
  }
  .banner--img--text h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #d84033;
    margin: 0;
  }

  .swiper-container {
    padding-bottom: 70px;
  }

  .swiper-pagination-bullet {
    width: 40px;
    height: 7px;
    border-radius: 0;
    background-color: #cecece;
  }

  .swiper-pagination-bullet-active {
    background-color: #d7b399;
  }
}
@media (max-width: 768px) {
  .banner--text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-basis: 45%;
  }
  .banner--text h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: black;
    margin: 0;
    margin-bottom: 15px;
  }
  .banner--text h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.04em;
    color: black;
    margin: 0;
    margin-bottom: 15px;
  }
  .banner--text button {
    font-family: "Montserrat";
    padding: 12px 20px;
    border: none;
    outline: none;
    background-color: #d7b399;
    text-transform: uppercase;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
  }

  .banner--img {
    display: flex;
    justify-content: flex-end;
    align-items: start;
    background-image: url(../img/snickers/1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    flex-basis: 50%;
    height: 300px;
  }

  .swiper-container {
    padding-bottom: 40px;
  }

  .swiper-pagination-bullet {
    width: 40px;
    height: 7px;
    border-radius: 0;
    background-color: #cecece;
  }

  .swiper-pagination-bullet-active {
    background-color: #d7b399;
  }
}
@media (max-width: 576px) {
  .banner--text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-basis: 30%;
  }
  .banner--text h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: black;
    margin: 0;
    margin-bottom: 5px;
  }
  .banner--text h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 38px;
    letter-spacing: 0.04em;
    color: black;
    margin: 0;
    margin-bottom: 5px;
  }
  .banner--text button {
    font-family: "Montserrat";
    padding: 6px 6px;
    border: none;
    outline: none;
    background-color: #d7b399;
    text-transform: uppercase;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 0.03em;
    white-space: nowrap;
  }

  .banner--img {
    display: flex;
    justify-content: flex-end;
    align-items: start;
    background-image: url(../img/snickers/1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    flex-basis: 59%;
    height: 200px;
  }

  .swiper-container {
    padding-bottom: 20px;
  }

  .swiper-pagination-bullet {
    width: 40px;
    height: 7px;
    border-radius: 0;
    background-color: #cecece;
  }

  .swiper-pagination-bullet-active {
    background-color: #d7b399;
  }

  .banner--img--text {
    display: flex;
    flex-direction: column;
  }
  .banner--img--text span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    text-decoration: line-through;
    font-size: 10px;
    line-height: 10px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: black;
    margin: 0;
    margin-bottom: 5px;
  }
  .banner--img--text h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #d84033;
    margin: 0;
  }
}
.free-delivery {
  width: 100%;
  padding: 70px 0;
  background-color: #212121;
}

.free-delivery__content--block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.free-delivery__content--block h1 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.02em;
  color: white;
  margin: 0;
  margin-bottom: 20px;
}
.free-delivery__content--block h1 span {
  font-weight: bold;
}
.free-delivery__content--block .bold-text {
  font-weight: bold;
}
.free-delivery__content--block p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: lighter;
  font-size: 21px;
  line-height: 26px;
  color: white;
  margin: 0;
}

@media (max-width: 769px) {
  .free-delivery {
    width: 100%;
    padding: 50px 0;
  }

  .free-delivery__content--block h1 {
    text-transform: uppercase;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: white;
    margin: 0;
    margin-bottom: 10px;
    white-space: nowrap;
  }
  .free-delivery__content--block .bold-text {
    font-weight: bold;
  }
  .free-delivery__content--block p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: white;
    margin: 0;
    white-space: nowrap;
  }
}
@media (max-width: 576px) {
  .free-delivery {
    width: 100%;
    padding: 30px 0;
  }

  .free-delivery__content--block h1 {
    text-transform: uppercase;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.02em;
    color: white;
    margin: 0;
    margin-bottom: 7px;
    white-space: nowrap;
  }
  .free-delivery__content--block .bold-text {
    font-weight: bold;
  }
  .free-delivery__content--block p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    line-height: 16px;
    color: white;
    margin: 0;
    white-space: nowrap;
  }
}
@media (max-width: 370px) {
  .free-delivery {
    width: 100%;
    padding: 30px 0;
  }

  .free-delivery__content--block h1 {
    text-transform: uppercase;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    color: white;
    margin: 0;
    margin-bottom: 7px;
    white-space: nowrap;
  }
  .free-delivery__content--block .bold-text {
    font-weight: bold;
  }
  .free-delivery__content--block p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    line-height: 16px;
    color: white;
    margin: 0;
    white-space: nowrap;
  }
}
.collections {
  width: 100%;
  background: linear-gradient(90deg, #f9f6f1 46%, #f4f4f4 55%);
}

.coll-wrap {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.men-coll {
  flex-basis: 50%;
  background-color: #f9f6f1;
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  padding-top: 60px;
  padding-left: 36px;
  margin-left: auto;
}

.men-coll-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.women-coll {
  flex-basis: 50%;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-top: 60px;
  padding-left: 36px;
  margin-right: auto;
}

.women-coll-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.women-coll-img, .men-coll-img {
  padding: 0;
}

.collection--title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: black;
  margin: 0;
  margin-bottom: 25px;
  white-space: nowrap;
}

.collection--description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: black;
  text-decoration: none;
  margin: 0;
  margin-bottom: 40px;
}

.collection-button {
  width: 80px;
  height: 30px;
  background-color: #d7b399;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.collection-button:hover img {
  transition: all 0.3s ease-in-out;
  z-index: 99;
  transform: scale(1.5);
}

@media (max-width: 1200px) {
  .coll-wrap {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .men-coll {
    flex-basis: 50%;
    background-color: #f9f6f1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    padding-top: 40px;
    padding-left: 26px;
    padding-right: 15px;
  }

  .men-coll-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-basis: 60%;
  }

  .women-coll {
    flex-basis: 50%;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 40px;
    padding-left: 26px;
    padding-right: 15px;
  }

  .women-coll-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .women-coll-img, .men-coll-img {
    padding: 0;
    width: 170px;
    height: 150px;
  }

  .collection--title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: black;
    margin: 0;
    margin-bottom: 15px;
    white-space: nowrap;
  }

  .collection--description {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: black;
    text-decoration: none;
    margin: 0;
    margin-bottom: 40px;
  }

  .collection-button {
    width: 80px;
    height: 30px;
    background-color: #d7b399;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .collection-button:hover img {
    transition: all 0.3s ease-in-out;
    z-index: 99;
    transform: scale(1.5);
  }
}
@media (max-width: 992px) {
  .men-coll {
    flex-basis: 50%;
    background-color: #f9f6f1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 15px;
  }

  .men-coll-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-basis: 60%;
  }

  .women-coll {
    flex-basis: 50%;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 15px;
  }

  .women-coll-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-basis: 60%;
  }

  .women-coll-img, .men-coll-img {
    padding: 0;
    width: 150px;
    height: 130px;
  }

  .collection--title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: black;
    margin: 0;
    margin-bottom: 10px;
    white-space: nowrap;
  }

  .collection--description {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: black;
    text-decoration: none;
    margin: 0;
    margin-bottom: 20px;
  }

  .collection-button {
    width: 60px;
    height: 20px;
    background-color: #d7b399;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .collection-button:hover img {
    transition: all 0.3s ease-in-out;
    z-index: 99;
    transform: scale(1.5);
  }
}
@media (max-width: 768px) {
  .collections {
    width: 100%;
    background: linear-gradient(0deg, #f4f4f4 50%, #f9f6f1 50%);
  }

  .coll-wrap {
    display: flex;
    flex-direction: column;
  }

  .men-coll {
    flex-basis: 50%;
    background-color: #f9f6f1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 15px;
  }

  .men-coll-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-basis: 60%;
  }

  .women-coll {
    flex-basis: 50%;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 15px;
  }

  .women-coll-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-basis: 60%;
  }

  .women-coll-img, .men-coll-img {
    padding: 0;
    width: 150px;
    height: 130px;
  }

  .collection--title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: black;
    margin: 0;
    margin-bottom: 10px;
    white-space: nowrap;
  }

  .collection--description {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: black;
    text-decoration: none;
    margin: 0;
    margin-bottom: 20px;
  }

  .collection-button {
    width: 60px;
    height: 20px;
    background-color: #d7b399;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .collection-button:hover img {
    transition: all 0.3s ease-in-out;
    z-index: 99;
    transform: scale(1.5);
  }
}
@media (max-width: 576px) {
  .collections {
    width: 100%;
    background: linear-gradient(0deg, #f4f4f4 50%, #f9f6f1 50%);
  }

  .coll-wrap {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .men-coll {
    flex-basis: 50%;
    background-color: #f9f6f1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0;
  }

  .men-coll-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-basis: 60%;
  }

  .women-coll {
    flex-basis: 50%;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .women-coll-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-basis: 60%;
  }

  .women-coll-img, .men-coll-img {
    padding: 0;
    width: 150px;
    height: 130px;
  }

  .collection--title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: black;
    margin: 0;
    margin-bottom: 10px;
    white-space: nowrap;
  }

  .collection--description {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: black;
    text-decoration: none;
    margin: 0;
    margin-bottom: 20px;
  }

  .collection-button {
    width: 60px;
    height: 20px;
    background-color: #d7b399;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .collection-button:hover img {
    transition: all 0.3s ease-in-out;
    z-index: 99;
    transform: scale(1.5);
  }
}
@media (max-width: 365px) {
  .collections {
    width: 100%;
    background: linear-gradient(0deg, #f4f4f4 50%, #f9f6f1 50%);
  }

  .coll-wrap {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .men-coll {
    flex-basis: 50%;
    background-color: #f9f6f1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: end;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0;
  }

  .men-coll-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-basis: 60%;
  }

  .women-coll {
    flex-basis: 50%;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .women-coll-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-basis: 60%;
  }

  .women-coll-img, .men-coll-img {
    padding: 0;
    width: 130px;
    height: 115px;
  }

  .collection--title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: black;
    margin: 0;
    margin-bottom: 7px;
    white-space: nowrap;
  }

  .collection--description {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    color: black;
    text-decoration: none;
    margin: 0;
    margin-bottom: 10px;
  }

  .collection-button {
    width: 40px;
    height: 20px;
    background-color: #d7b399;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .collection-button:hover img {
    transition: all 0.3s ease-in-out;
    z-index: 99;
    transform: scale(1.5);
  }
}
.dresses {
  width: 100%;
  padding-bottom: 150px;
}

.dresses__block {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}

.dress {
  background: transparent url(../img/dress.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  flex-basis: 25%;
  height: 235px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  transition: all 0.7s ease-in-out;
}

.dress:hover {
  transform: rotate(360deg);
  z-index: 99;
}

.dress--text {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: lighter;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: black;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .dresses {
    padding-bottom: 100px;
  }

  .dress--text {
    margin-left: 10px;
    margin-bottom: 14px;
    font-size: 21px;
    line-height: 26px;
  }
}
@media (max-width: 992px) {
  .dresses {
    padding-bottom: 80px;
  }

  .dress--text {
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 18px;
  }
}
@media (max-width: 769px) {
  .dresses {
    padding-bottom: 70px;
  }

  .dress {
    background-position: center;
    background-size: cover;
    flex-basis: 33.333%;
    height: 192px;
  }

  .dress:last-child {
    margin-left: auto;
  }

  .dress--text {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 576px) {
  .dresses {
    padding-bottom: 50px;
  }

  .dress {
    background-size: cover;
    flex-basis: 50%;
    height: 180px;
  }

  .dress:last-child {
    background-size: cover;
  }

  .dress--text {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
  }
}
@media (max-width: 425px) {
  .dresses {
    padding-bottom: 40px;
  }

  .dress {
    background-size: cover;
    background-position: right 10px;
    flex-basis: 49%;
    height: 150px;
    margin: 1px;
  }

  .dress:last-child {
    background-size: cover;
    margin: 1px;
  }

  .dress--text {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
  }
}
@media (max-width: 375px) {
  .dress {
    background-size: contain;
    background-position: right 10px;
    flex-basis: 49%;
    height: 130px;
    margin: 0;
  }

  .dress:last-child {
    background-size: contain;
  }

  .dress--text {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
  }
}
@media (max-width: 320px) {
  .dress {
    background-size: contain;
    background-position: right 10px;
    flex-basis: 49%;
    height: 110px;
    margin: 0;
  }

  .dress--text {
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 11px;
    line-height: 13px;
  }
}
.new-models {
  width: 100%;
}

.new-models--title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: black;
  text-align: center;
  margin: 0;
  margin-bottom: 100px;
}

.new-models__cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
}

.new-models__cards--card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-basis: 20%;
  padding: 10px 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  border: 2px solid #d7b399;
}
.new-models__cards--card:hover {
  border: 2px solid #f38680;
}

.new-models__cards--card:last-child {
  margin-right: 0;
}

.card-img {
  margin: 0;
  margin-bottom: 20px;
  max-width: 100%;
}

.card-title {
  font-family: "Montserrat";
  max-width: 112px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: black;
  margin: 0;
  margin-bottom: 15px;
}

.card-price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #d7b399;
}

.btn-all-models {
  display: block;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: white;
  text-transform: uppercase;
  background-color: #d7b399;
  border: none;
  outline: none;
  padding: 10px 20px;
  transition: all 0.5s ease-in-out;
}
.btn-all-models span {
  margin-right: 10px;
}
.btn-all-models img {
  transition: all 0.3s ease-in-out;
}
.btn-all-models:hover {
  background-color: #f38680;
}
.btn-all-models:hover img {
  transform: translateX(10px);
}

@media (max-width: 1200px) {
  .new-models--title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
  }

  .new-models__cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
  }

  .new-models__cards--card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-basis: 24%;
    position: relative;
    transition: all 0.3s ease-in-out;
    border: 2px solid #d7b399;
  }
  .new-models__cards--card:hover {
    border: 2px solid #f38680;
  }

  .new-models__cards--card:last-child {
    margin-right: 0;
  }

  .card-img {
    margin: 0;
    margin-bottom: 20px;
  }

  .card-title {
    font-family: "Montserrat";
    max-width: 112px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: black;
    margin: 0;
    margin-bottom: 15px;
  }

  .card-price {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #d7b399;
  }

  .btn-all-models {
    display: block;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: white;
    text-transform: uppercase;
    background-color: #d7b399;
    border: none;
    outline: none;
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;
  }
  .btn-all-models span {
    margin-right: 10px;
  }
  .btn-all-models img {
    transition: all 0.3s ease-in-out;
  }
  .btn-all-models:hover {
    background-color: #f38680;
  }
  .btn-all-models:hover img {
    transform: translateX(10px);
  }
}
@media (max-width: 992px) {
  .new-models--title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
  }

  .new-models__cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
  }

  .new-models__cards--card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-basis: 23%;
    position: relative;
    transition: all 0.3s ease-in-out;
    border: 2px solid #d7b399;
  }
  .new-models__cards--card:hover {
    border: 2px solid #f38680;
  }

  .card-img {
    margin: 0;
    margin-bottom: 20px;
  }

  .card-title {
    font-family: "Montserrat";
    max-width: 112px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: black;
    margin: 0;
    margin-bottom: 15px;
  }

  .card-price {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #d7b399;
  }

  .btn-all-models {
    display: block;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: white;
    text-transform: uppercase;
    background-color: #d7b399;
    border: none;
    outline: none;
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;
  }
  .btn-all-models span {
    margin-right: 10px;
  }
  .btn-all-models img {
    transition: all 0.3s ease-in-out;
  }
  .btn-all-models:hover {
    background-color: #f38680;
  }
  .btn-all-models:hover img {
    transform: translateX(10px);
  }
}
@media (max-width: 576px) {
  .new-models--title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
  }

  .new-models__cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
    flex-wrap: wrap;
  }

  .new-models__cards--card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-basis: 45%;
    transition: all 0.3s ease-in-out;
    border: 2px solid #d7b399;
    margin-bottom: 20px;
  }
  .new-models__cards--card:hover {
    border: 2px solid #f38680;
  }

  .card-img {
    margin: 0;
    margin-bottom: 20px;
  }

  .card-title {
    font-family: "Montserrat";
    max-width: 112px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: black;
    margin: 0;
    margin-bottom: 10px;
  }

  .card-price {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #d7b399;
  }

  .btn-all-models {
    display: block;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: white;
    text-transform: uppercase;
    background-color: #d7b399;
    border: none;
    outline: none;
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;
  }
  .btn-all-models span {
    margin-right: 10px;
  }
  .btn-all-models img {
    transition: all 0.3s ease-in-out;
  }
  .btn-all-models:hover {
    background-color: #f38680;
  }
  .btn-all-models:hover img {
    transform: translateX(10px);
  }
}
@media (max-width: 425px) {
  .new-models--title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
  }

  .new-models__cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }

  .new-models__cards--card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-basis: 100%;
    transition: all 0.3s ease-in-out;
    border: 2px solid #d7b399;
    margin-bottom: 20px;
  }
  .new-models__cards--card:hover {
    border: 2px solid #f38680;
  }

  .card-img {
    margin: 0;
    margin-bottom: 20px;
  }

  .card-title {
    font-family: "Montserrat";
    max-width: 112px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: black;
    margin: 0;
    margin-bottom: 10px;
  }

  .card-price {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #d7b399;
  }

  .btn-all-models {
    display: block;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: white;
    text-transform: uppercase;
    background-color: #d7b399;
    border: none;
    outline: none;
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;
  }
  .btn-all-models span {
    margin-right: 10px;
  }
  .btn-all-models img {
    transition: all 0.3s ease-in-out;
  }
  .btn-all-models:hover {
    background-color: #f38680;
  }
  .btn-all-models:hover img {
    transform: translateX(10px);
  }
}

/*# sourceMappingURL=style.css.map */
